<!DOCTYPE html>
<% if (typeof  (messages) !== "undefined" &&  messages!=null) { %>

    <script language="javascript">
    alert("<%= messages.msg %>");
    </script>

  <div class="alert alert-success fade in">
    <button type="button" data-dismiss="alert" class="close">
      <span class="fa fa-times-circle-o"></span>
    </button>
  </div>

        <% } %>
        <%  if (typeof  (messages) !== "undefined" &&  messages.success) { %>
 <script language="javascript">
    alert("<%= messages.success .msg%>");
    </script>


        <% } %>
      
      
  
 <%  if (typeof  (messages) !== "undefined") { %>

 <%  if (messages.success) { %>
   <%for (var i=0 ;i<messages.success.length;i++)  { %>
   
        <div class="alert alert-info">
        <strong>Info:</strong>  <%= messages.success[i].msg %> 
    </div>  <% } } %>


<% if(messages.errors) { %>
  <div class="alert alert-danger ">
    <button type="button" data-dismiss="alert" class="close">
      <span class="ion-close-circled"></span>
    </button>
   <%for (var i=0 ;i<messages.errors.length;i++)  { %>
      <div> <%= messages.errors[i].msg %> </div>
    <% } %>
  </div>
<% } else if (messages.info) { %>
  <div class="alert alert-info ">
    <button type="button" data-dismiss="alert" class="close">
      <span class="fa fa-times-circle-o"></span>
    </button>
   <%for (var i=0 ;i<messages.info.length;i++)  { %>
      <div> <%= messages.info[i].msg %> </div>
    <%  }%>
  </div>
<% } else if (messages.success) { %>
  <div class="alert alert-success ">
    <button type="button" data-dismiss="alert" class="close">
      <span class="fa fa-times-circle-o"></span>
    </button>
   <%for (var i=0 ;i<messages.success.length;i++)  { %>
      <div> <%= messages.success[i].msg %> </div>
    <% } %>
  </div>
<% }} %>
