<!DOCTYPE html>
<% include ../layout/Defaultlayout %>
    <section id="contact">

    <div class="container">
          <div class="row row-offcanvas row-offcanvas-right">

   <% include ../Admin/AdminSideNav %>

    <div class="col-12 col-md-9">

      <p>
        <a href="/createRole" class="btn btn-primary btn-lg">Add New </a>
      </p>

    <table class="table table-striped table-hover">
  <%= permissions.length%>
         <% for(var i=0; i < permissions.length; i++) { %>
       <tr>
            <td><%=permissions[i].id%></td>
       <td><%=permissions[i].name%></td>
         
            <td>
             <a class="a-inside edit" href="../UpdatePermission/<%=permissions[i].id%>">Edit</a>
                   
             <a class="a-inside delete" href="../deletePermission/<%=permissions[i].id%>">Delete</a>
                    
            </td>
    </tr>
<%}%>
  
  </table>
 <% include ../layout/Paging %>
</div>
</div>
    </div>
    </section>
<% include ../layout/footer %>
