<!DOCTYPE html>

<% include ../layout/Defaultlayout %>

  <script src="http://localhost:5000/nezaker/app/AppModule.js"></script>
  <script src="http://localhost:5000/nezaker/app/ContentController.js"></script>

      <section id="contact">

  <div class ="container" ng-app="AppModule" ng-controller="ContentController" >
    <form class="navbar-form navbaar-left" 
     ng-init="LoadUpdateForm(<%=content .lesson.subject.grade.stage_id%>,<%= JSON.stringify(content)%>)"
     method='post', name='formContent' , action='/updateContent/<%=content.id%>'>

     <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">تعديل 
                    </h2>
                </div>
            </div>
      <div class ="row">
       <div class="col-lg-6">

    
        <div class="form-group">
          <lable for="">المرحله التعليميه</lable>
       <select class="form-control" name ="Stage_id" id ="Stage"  required="true"
        ng-model="selectedStage" ng-change="getGradesByStageID(selectedStage)"
         >
            <option value="0"  >اختر</option>
            <% for(var i=0; i < stages.length; i++) { 
            var selected = (stages[i].id.toString()==content.lesson.subject.grade.stage_id )? 'selected="selected"' : '';
            %>
            <option value="<%=stages[i].id %>" ng-selected="ContentSelectedStage==<%=stages[i].id %>"><%=stages[i].name %></option> 
                <%}%>
          </select>
        </div>
<!-- <div class="form-group">
          <lable for="">الصف الدراسى</lable>
          
       <select class="form-control" name ="grade_id" id ="grade" required="true"
     ng-model="selectedGrade" ng-bind={{selectedGrade}} ng-change="getSubjectByGradeID(selectedGrade)" 
      >
           <option value="">اختر</option>
           <option ng-repeat="grade in SelectedGrades" value="{{grade.id}}">{{grade.name}}</option>
          </select>
        </div> -->
        <!--  <div class="form-group">
          <lable for="">المرحله التعليميه</lable>
       <select class="form-control" name ="Stage_id" id ="Stage"  required="true"
        ng-model="selectedStage" ng-change="getGradesByStageID(selectedStage)">
            <option value="">اختر</option>
            <% for(var i=0; i < stages.length; i++) { %>
            <option value="<%=stages[i].id %>"  ><%=stages[i].name %></option> 
                <%}%>
          </select>
        </div> -->
        <div class="form-group">
          <lable for="">الصف الدراسى</lable>
       <select class="form-control" name ="grade_id" id ="grade" required="true"  ng-model="selectedGrade" >
           <option value="">اختر</option>
           <option ng-repeat="grade in SelectedGrades" value="{{grade.id}}" 
           ng-selected="grade.id==<%=content.lesson.subject.grade_id%>" >{{grade.name}}</option>
          </select>
       </div>
        <div class="form-group">
          <lable for="">المادة</lable>
           <select class="form-control" name ="subject_id" id ="subject"  required="true"
             ng-model="selectedSubject"  ng-change="getLessonsBySubjectID(selectedSubject)"  
              >
            <option value="">اختر</option>
            <option ng-repeat="subject in  SelectedSubject" value="{{subject.id}}" 
                       ng-selected="subject.id==<%=content.lesson.subject_id%>" >{{subject.name}}</option> 
            </select>
        </div>
   
        <div class="form-group" >
          <lable for="">الدرس</lable>
          <select  class="form-control" name ="lesson_id" id ="lesson"  required="true" >
            <option value="">اختر</option>
            <option ng-repeat="content in  SelectedLessons" value="{{content.lesson.id}}"  
            ng-selected="content.lesson.id==<%=content.lesson_id%>">{{content.lesson.name}}</option> 
          </select>
        </div>
        <div class="form-group">
          <lable for="">رابط thumbnail </lable>
          <input type="text"  class="form-control"  value="<%=content.thumbnail%>"  placeholder="رابط thumbnail" id="thumbnail" name="thumbnail" 
                 style="width:100%" required="true"/>
        </div>
      <div class="form-group">
                            <br/>
        <%  var statusArray=JSON.parse(JSON.stringify(ConstantVal.status));
        var statArrLength=JSON.stringify(ConstantVal.status.length);
        for(var i =0; i< statArrLength ;i++){
          var selected = (statusArray[i].value.toString()==content.status)? 'selected="selected"' : '';%>
        <label>
          <input type="radio" ng-model="status" name="status" <%=selected%>  value="<%=statusArray[i].value%>"> <%=statusArray[i].text%>
        </label><br/> <%}%>
      </div>
        
      </div> 
       <div class="col-lg-6"> 

        <div class="form-group">
          <lable for="">رابط الفيديو</lable>
          <input type="url"  class="form-control"  value="<%=content.material_url%>"  placeholder="رابط الفيديو" id="material_url" name="material_url" 
                 style="width:100%" required="true"/>
        </div>
        <div class="form-group">
          <lable for="">رابط Youtube </lable>
          <input type="text"  class="form-control"  value="<%=content.youtube_video_id%>"  placeholder="رابط الفيديو" id="youtube_video_id" name="youtube_video_id" 
                 style="width:100%" required="true"/>
        </div>
         
        <div class="form-group">
          <lable for="">ملخص الدرس</lable>
          <textarea  class="form-control"   placeholder="Description" id="description"   rows="5"
         columns="30" name="description" style="width:100%" required="" ><%=content.description%></textarea>
        </div>
</div></div>
 <div class="row">
                <div class="col-lg-12 text-center">
      
  <div class="form-group">
            <input type="submit"  class="btn btn-xl" name="submit" value="تعديل"/>

        </div>
                 
        </div>
 </div>

    </form>
  </div>
</section>

  

<% include ../layout/footer %>
